RESEND_API_KEY=...
RESEND_FROM_EMAIL=Mountain Mixology <bookings@site_domain.com>
RESEND_TO_EMAIL=mountainmixologyca@gmail.com
PUBLIC_SITE_URL=https://mountain-mixology-canmore.karstenmonteiro.chatgpt.site
